body {
    background: #000;
    color: #f5f5f5;
    overflow: hidden;
  }
  @font-face {
    font-family: "Palette Mosaic";
    src: url("assets/fonts/PaletteMosaic-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }