body {
  background: #000;
  background: url(assets/images/background1.png);
  color: #f5f5f5;
  overflow: hidden;
  margin: 0;
}

body > * {
  font-family: monospace;
  user-select: none;
}

link,
[hidden] {
  display: none !important;
}
#ene {
  height: 100px;
  width: 100px;
  position: absolute;
} /*enemy*/
#sst {
  width: 100%;
  height: 100%;
  background-image: url(assets/images/ship.png);
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(180deg);
  background-color: transparent;
} /*space ship top*/
#ssm {
  width: 100px;
  display: block;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  height: 12px;
  bottom: -24px;
} /*space ship mid*/
#ssb {
  width: 100%;
  height: 12px;
  background-color: #31b64e;
}
.hei {
  width: 100%;
  height: 100%;
  transform: rotate(180deg);
}
#notification {
  pointer-events: none;
  font-size: 32px;
  font-family: system-ui;
  color: rgb(238, 56, 32, 1);
  z-index: 1000000;
  width: 100%;
  position: absolute;
  top: 10%;
  text-align: center;
} /*notification*/

#notification div[sub] {
  font-family: monospace;
  font-size: 12px;
  color: #fff;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}

.bullet-quantum {
  pointer-events: none;
  width: 10px;
  height: 6px;
  border: 1px solid rgb(248, 190, 28);
  background: rgba(248, 190, 28, 0.5);
  filter: blur(1px);
} /*bullet quantum*/
.bullet-phaser {
  pointer-events: none;
  width: 36px;
  height: 7px;
  border: 1px solid rgb(132, 255, 179);
  background: rgba(132, 255, 214, 0.493);
  border-radius: 0px;
  filter: blur(3px);
}
.bullet-thermal {
  pointer-events: none;
  width: 36px;
  height: 36px;
  border: 1px solid rgb(255, 73, 49);
  filter: blur(2px);
  background: rgba(255, 73, 49, 0.2);
  border-radius: 50%;
}
.bullet-blaster {
  pointer-events: none;
  width: 10px;
  height: 6px;
  border: 1px solid rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.3);
  filter: blur(1px);
}
