:host {
  color: #f5f5f5;
  display: flex;
  flex-direction: column;
}

t-b {
  height: 40px;
  display: flex;
  justify-content: space-between;
  background: #212121;
  color: #f5f5f5;
  border-bottom: 1px solid #424242;
  align-items: center;
}

s-c {
  display: grid;
  grid: "left middle right" / 1fr 200px 1fr;
  height: calc(100vh - 40px);
}

m-g {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

r-w {
  display: flex;
  width: 200px;
  height: calc(75vh - 40px);
  background-color: #212121;
  filter: blur(5px);
  border: 5px solid #424242;
}

s-p {
  height: calc(20vh - 40px);
  width: calc(20vh - 40px);
  margin-top: 24px;
  background: #731a05;
  border-radius: 50%;
}

l-g,
r-g {
  position: relative;
}

@media (max-width: 768px) {
  r-w {
    width: 100px;
  }
  s-c {
    display: grid;
    grid: "left middle right" / 1fr 100px 1fr;
  }
}

table {
  border-spacing: 0;
  position: absolute;
}

div.tower {
  pointer-events: none;
}

td {
  font-size: 44px;
  text-align: center;
  border: 1px solid #333;
  width: 100px;
  height: 100px;
  cursor: pointer;
  user-select: none;
  position: relative;
}

td:hover {
  transition: 0.1s ease;
  background: #212121;
}

div[menu] {
  width: 100px;
  height: 100px;
  bottom: 100%;
  overflow-y: auto;
  top: 0;
  background: #f5f5f5;
  position: absolute;
  z-index: 2;
}

div[menu-item] {
  font-family: monospace;
  font-size: 11px;
  color: #333;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div[menu-item]:hover {
  transition: 0.1 ease;
  background: #ddd;
}

div[money] {
  font-family: monospace;
  font-size: 17px;
  color: #f5f5f5;
  padding-right: 12px;
}
