main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  h1 {
    font-family: system-ui;
    font-size: 72px;
    line-height: 72px;
    letter-spacing: 5px;
    padding: 0;
    margin: 96px 0 0 0;
    max-width: 1040px;
  }

  p {
    font-family: monospace;
    padding: 0;
    margin: 24px 0 0 0;
    font-size: 18px;
    line-height: 26px;
    max-width: 50vh;
  }

  @media (max-width: 768px) {
    h1 {
      font-size: 40px;
      line-height: 40px;
    }
    p {
      font-size: 14px;
      line-height: 20px;
      margin: 24px 10% 0 10%;
    }
  }

  sd-button {
    margin-top: 24px;
    max-width: 200px;
    width: 100%;
  }
  label {
    pointer-events: none;
  }